<%- include('../includes/head') %>

    <main class="w-full h-full flex flex-col md:flex-row pt-15 md:pt-16">
        <section class="w-full p-6 md:p-16" data-aos="fade-right" data-aos-offset="10" data-aos-delay="10000" data-aos-duration="1000">
            <div class="w-full flex flex-col md:flex-row items-center justify-between md:mb-6">
                <div class="flex flex-col md:flex-row items-start md:items-center gap-2 md:gap-4">
                    <a href="/" class="text-action bg-white rounded-xl p-2 w-fit transition-all hover:-translate-y-0.5">Voltar</a>
                    <h1 class="text-xl font-bold mb-4 md:mb-2 lg:mb-0">Ficha de <%= ficha.nome %></h1>
                </div>
                
                <div class="flex p-2.5 bg-white rounded gap-8 mb-4 md:mb-0">
                    <!-- delete -->
                    <a id="deleteFicha" data-tippy-content="Excluir ficha" href="/ficha/delete/<%= ficha._id %>" class="cursor-pointer transition-all hover:-translate-y-0.5">
                        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 6V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H11.2C10.0799 2 9.51984 2 9.09202 2.21799C8.71569 2.40973 8.40973 2.71569 8.21799 3.09202C8 3.51984 8 4.0799 8 5.2V6M10 11.5V16.5M14 11.5V16.5M3 6H21M19 6V17.2C19 18.8802 19 19.7202 18.673 20.362C18.3854 20.9265 17.9265 21.3854 17.362 21.673C16.7202 22 15.8802 22 14.2 22H9.8C8.11984 22 7.27976 22 6.63803 21.673C6.07354 21.3854 5.6146 20.9265 5.32698 20.362C5 19.7202 5 18.8802 5 17.2V6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </a>
                    
                    <!-- edit -->
                    <button id="editFicha" data-tippy-content="Habilitar edição" class="cursor-pointer transition-all hover:-translate-y-0.5">
                        <svg class="cursor-pointer transition-all hover:-translate-y-0.5" width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.87601 18.1156C2.92195 17.7021 2.94493 17.4954 3.00748 17.3022C3.06298 17.1307 3.1414 16.9676 3.24061 16.8171C3.35242 16.6475 3.49952 16.5005 3.7937 16.2063L17 3C18.1046 1.89543 19.8954 1.89543 21 3C22.1046 4.10457 22.1046 5.89543 21 7L7.7937 20.2063C7.49951 20.5005 7.35242 20.6475 7.18286 20.7594C7.03242 20.8586 6.86926 20.937 6.69782 20.9925C6.50457 21.055 6.29783 21.078 5.88434 21.124L2.49997 21.5L2.87601 18.1156Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <!-- download pdf -->
                    <button id="downloadFicha" data-tippy-content="Baixar PDF" class="cursor-pointer transition-all hover:-translate-y-0.5">
                        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 15V16.2C21 17.8802 21 18.7202 20.673 19.362C20.3854 19.9265 19.9265 20.3854 19.362 20.673C18.7202 21 17.8802 21 16.2 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V15M17 10L12 15M12 15L7 10M12 15V3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <!-- atendimentos -->
                    <a id="atendimentosFicha" data-tippy-content="Ver atendimentos" href="#" class="cursor-pointer transition-all hover:-translate-y-0.5">
                        <svg class="cursor-pointer transition-all hover:-translate-y-0.5" width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2.26953V6.40007C14 6.96012 14 7.24015 14.109 7.45406C14.2049 7.64222 14.3578 7.7952 14.546 7.89108C14.7599 8.00007 15.0399 8.00007 15.6 8.00007H19.7305M14 17H8M16 13H8M20 9.98822V17.2C20 18.8802 20 19.7202 19.673 20.362C19.3854 20.9265 18.9265 21.3854 18.362 21.673C17.7202 22 16.8802 22 15.2 22H8.8C7.11984 22 6.27976 22 5.63803 21.673C5.07354 21.3854 4.6146 20.9265 4.32698 20.362C4 19.7202 4 18.8802 4 17.2V6.8C4 5.11984 4 4.27976 4.32698 3.63803C4.6146 3.07354 5.07354 2.6146 5.63803 2.32698C6.27976 2 7.11984 2 8.8 2H12.0118C12.7455 2 13.1124 2 13.4577 2.08289C13.7638 2.15638 14.0564 2.27759 14.3249 2.44208C14.6276 2.6276 14.887 2.88703 15.4059 3.40589L18.5941 6.59411C19.113 7.11297 19.3724 7.3724 19.5579 7.67515C19.7224 7.94356 19.8436 8.2362 19.9171 8.5423C20 8.88757 20 9.25445 20 9.98822Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="w-full bg-white rounded p-6">
                <h2 class="font-bold text-xl border-b pb-1 mb-4">Dados pessoais</h2>

                <form method="POST" action="/ficha/edit/<%= ficha._id %>" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="form-item flex flex-col">
                        <label for="nome">Nome completo</label>
                        <input type="text" id="nome" name="nome" value="<%= ficha.nome %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="telefone">Telefone</label>
                        <input type="tel" id="telefone" name="telefone" value="<%= ficha.telefone %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="profissao">Profissão</label>
                        <input type="text" id="profissao" name="profissao" value="<%= ficha.profissao %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="data_nascimento">Data de nascimento</label>
                        <input type="date" id="data_nascimento" name="data_nascimento" value="<%= ficha.data_nascimento ? new Date(ficha.data_nascimento).toISOString().split('T')[0] : '' %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="peso">Peso (em kg)</label>
                        <input type="number" id="peso" name="peso" value="<%= ficha.peso %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="altura">Altura (em metros)</label>
                        <input type="number" id="altura" name="altura" value="<%= ficha.altura %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="medida">Medida (em cm)</label>
                        <input type="number" id="medida" name="medida" value="<%= ficha.medida %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <div class="form-item flex flex-col">
                        <label for="pele">Cor de pele</label>
                        <input type="text" id="pele" name="pele" value="<%= ficha.pele %>" class="edit-input p-2 rounded-t border-b transition-all disabled:bg-neutral disabled:text-action/60 focus:outline-none focus:bg-neutral" disabled>
                    </div>

                    <button id="submitEditButton" class="bg-action text-white rounded p-4 cursor-pointer transition-all w-full md:w-fit hover:-translate-y-0.5 disabled:bg-action/60 disabled:cursor-auto disabled:hover:translate-y-0" type="submit" disabled>Confirmar edição</button>
                </form>
            </div>
        </section>
    </main>

<%- include('../includes/footer') %>